{% extends base_template %}
{% load i18n staticfiles %}

{% block title %}{% trans "Install KA Lite woooo" %}{{ block.super }}{% endblock title %}

{% block headcss %}
<style>

    .install-scenario, .install-scenario-short-description {
        float: left;
        width: 32%;
    }

    .install-scenario {
        text-align: center;
    }

    .install-scenario-short-description div {
        padding: 10px 15% 10px 20px;
    }

    .install-scenario img {
        width: 80%;
        cursor: pointer;
    }

    .install-scenario img:hover {
        opacity: 0.7;
    }

    .centered-title {
        text-align: center;
    }

    .content-block {
        width: 100%;
    }

    .content-block-hidden {
        display: none;
    }

</style>
{% endblock headcss %}

{% block headjs %}
<script>

    $(function() {

        $(".install-scenario img").click(function() {
            // highlight the clicked image, and de-emphasize the others
            $(this).css("width", "90%").css("opacity", "1");
            $(".install-scenario img").not(this).css("opacity", "0.5").css("width", "80%");

            // hide the current content block, and show the newly selected one
            var new_content_block = $("#" + $(this).attr("for"));
            $(".content-block").hide();
            new_content_block.show();

        });
    });

</script>
{% endblock headjs %}

{% block content %}
    <h1 class="centered-title">Install KA Lite: Which of these 3 scenarios best describes your needs?</h1>

    <br/>

    <div class="install-scenario">
        <img src="{% static 'images/central/install/1-standalone.png' %}" for="scenario-1">
    </div>

    <div class="install-scenario">
        <img src="{% static 'images/central/install/2-single-server.png' %}" for="scenario-2">
    </div>

    <div class="install-scenario">
        <img src="{% static 'images/central/install/3-multi-server.png' %}" for="scenario-3">
    </div>

    <div style="clear: both"></div>

    <div class="content-block">
        <div class="install-scenario-short-description">
            <div>
                <h2 class="centered-title">Personal Edition</h2>
                <ul>
                    <li>Install KA Lite directly to a single computer for offline use.</li>
                </ul>
            </div>
        </div>

        <div class="install-scenario-short-description">
            <div>
                <h2 class="centered-title">Classroom Edition</h2>
                <ul>
                    <li>Install KA Lite to an offline server, for multiple client devices to connect to.</li>
                </ul>
            </div>
        </div>

        <div class="install-scenario-short-description">
            <div>
                <h2 class="centered-title">School Edition</h2>
                <ul>
                    <li>Larger multi-server deployment, with options for syncing data between servers.</li>
                </ul>
            </div>
        </div>
    </div>

    <div style="clear: both;"></div>

    <br/>

    {# Scenario 1 -- Personal Edition #}
    <div class="content-block content-block-hidden" id="scenario-1">
        <div class="row">
            <h1>KA Lite Personal Edition</h1>
        </div>
        <div class="row">
            <div class="span6">
                <img src="http://placehold.it/350x150">
            </div>
            <div class="span6">
                <p>You're almost there! Just fill out the form below and choose a download option to get started using KA Lite!</p>
                {# Options Form #}
                <form class="form-horizontal">
                  <div class="control-group">
                    <label class="control-label" for="inputName">Name</label>
                    <div class="controls">
                      <input type="text" id="inputName" placeholder="Name">
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="inputEmail">Email</label>
                    <div class="controls">
                      <input type="text" id="inputEmail" placeholder="Email">
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="inputOS">Operating System</label>
                    <div class="controls">
                      <select id="inputOS">
                        {# Could detect this, but do we want to? #}
                          <option>Windows</option>
                          <option>Mac</option>
                          <option>Linux</option>
                          <option>Raspian</option>
                        </select>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="inputCountry">Country</label>
                    <div class="controls">
                        <select id="inputCountry">
                            {% for country in country_list %}
                                <option value="{{ country.code }}" {% if country.code == record.country_code %}selected{% endif %}>{{ country.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="inputLanguage">Language(s)</label>
                    <div class="controls">
                      <select id="inputLanguage" multiple="multiple">
                          <option>Lanugage One</option>
                          <option>Lanugage Two</option>
                          <option>Lanugage 99</option>
                          <option>(seewhatididthere)</option>
                      </select>
                      <span class="help-block">Use CTRL + select to pick more than one.</span>
                    </div>
                  </div>
                  <p>Help keep the project going by making a donation before you download!</p>
                  <div class="row">
                    <div class="span6">
                        <p><a href="#" class="button--large">Donate &amp; Download</a></p>
                    </div>
                    <div class="span6">
                        <p><a href="#" class="button--large">No thanks, just Download</a></p>
                    </div>
                  </div>
                </form>
            </div>
        </div>
    </div> {# END Scenario 1 -- Personal Edition #}

    {# Scenario 2 -- Classroom Edition #}
    <div class="content-block content-block-hidden" id="scenario-2">

        {# Option 2 -- classroom edition / single server & multiple users #}
        <div class="row">
            <div class="span12">
                <h1>KA Lite Classroom Edition</h1>
            </div>
        </div>
        <div class="row">
            {# Do you really want option 1? #}
            <div class="span6">
                <h3>Option 1: One-click Install Classroom Edition</h3>
                <img src="http://placehold.it/350x150">
                <p>If you just need KA Lite to work for you and your learners, and you don't think you'll ever need our advanced features like viewing usage statistics online, administering user accounts online, retrieving data backups online, then this is the option for you!</p>
                <p>This type of installation is most popular with:</p>
                <ul>
                    <li>Groups installing KA Lite in offline communities that they won't return to</li>
                    <li>Others?</li>
                </ul>
                {# Starts the download or could be a modal popup box to prompt a donation?       #}
                <p><a href="#" class="button--large">Download Now!</a></p>
            </div>
            {# Or do you want option 2? #}
            <div class="span6">
                <h3>Option 2: Syncing Classroom Edition</h3>
                <img src="http://placehold.it/350x150">
                <p>This option allows you to take advantage of our suite of online tools for managing your installations. With the Syncing Edition, from our online portal, you can administer user accounts, sync data from the installation and view it online, and backup your data online.</p>
                <p>This type of installation is most popular with:</p>
                <ul>
                    <li>??</li>
                    <li>Others?</li>
                </ul>
                {# Takes you to the download wizard #}
                <p><a href="#" class="button--large">Show me my options</a></p>
            </div>
        </div>
    </div>{# END Option 2 -- classroom edition / single server & multiple users #}

    {# Option 3 -- multiple servers #}
    <div class="content-block content-block-hidden" id="scenario-3">

        <div class="row">
            <div class="span12">
                <h1>KA Lite Pomelo Edition</h1>
            </div>
        </div>
        <div class="row">
            {# Do you really want option 1? #}
            <div class="span12">
                <img src="http://placehold.it/350x150">
                <p>KA Lite Pomelo edition allows you to access all of our online tool suite, allowing you to track engagement with your installation when it syncs data, administer accounts online, and do other cool stuff.</p>
                <p>This type of installation is most popular with:</p>
                <ul>
                    <li>Organizations working in offline communities that need reporting data on their project</li>
                </ul>
                {# Starts the download or could be a modal popup box to prompt a donation?       #}
                <p><a href="#" class="button--large">Show me the options!</a></p>
            </div>
        </div>
    </div> {# END Option 3 -- multiple servers #}

    <br/>

{% endblock content %}